.createSub{
    position: relative;
    background-color: rgb(70, 36, 108);
    border-radius: 10px;
    margin: 1%;
    color: white !important;
    height: 40vh !important;
    padding-right: 2%;
}
.selectuser{
    position: absolute;
    background-color: white !important;
    color: black !important;
    border-radius: 7px !important;
    width: 40% !important;
    height: 12% !important;
}
.SendBtn{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 10%;
    margin: 1%;
    background-color: rgb(255, 255, 255) !important;
    color: black;
    border: 0;
    border-radius: 7px;
    padding: 0.5%;
    margin: 1.5%;
    margin-left: 4%;
}
.SendBtn:hover{
    background-color: rgb(255, 255, 255) !important;
    color: black;
}

.lastsection {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 1% ;
  }
