#signupbody{
    background-image: linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 1, 0.664)) , url(../img/signupbg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sign-up-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 90%;
    color: rgb(0, 9, 51);
    padding: 50px;
    background-color: #f2f2f2b9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 50px !important;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 9, 51);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
  }

  button:hover {
    background-color: rgb(0, 15, 82);
  }
  .loginLink{
    color: black;
    text-decoration: underline;
  }
  .login{
    padding-top: 20px;
  }
  .loginLink:hover{
    text-decoration:none;
    color: rgb(0, 15, 82);
  }
  /* For mobile devices */
@media only screen and (max-width: 600px) {

.sign-up-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 90%;
    color: rgb(0, 9, 51);
    padding: 50px;
    background-color: #f2f2f2b9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
  }
}

/* For tablet screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Add your CSS styles here */
  /* For example: */
  .sign-up-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    color: rgb(0, 9, 51);
    padding: 50px;
    background-color: #f2f2f2b9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
  }

}

/* For iPad screens */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Add your CSS styles here */
  /* For example: */
  
  .sign-up-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    color: rgb(0, 9, 51);
    padding: 50px;
    background-color: #f2f2f2b9;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
  }

}