.row{
    margin: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.leftside{
    background-color: rgb(68, 128, 197);
    height: 80vh;
    border-radius: 17px;
}
.rightside{
    background-color: rgb(32, 71, 118);
    border-radius: 17px;
    height: 80vh;
}
/*----------------------------*/
.subHeader{
    color:white;
    font-size: 170%;
    margin-right: 3%;
    padding-top: 2%;
}
.subjectsContainer{
    margin: auto;
}
.MeetingContainer1{
    border-radius: 9px;
    text-align: right;
    height: 450px !important; 
    overflow-y: auto;
}
.archive{
    border-radius: 4px;
    margin-right: 74%;
    font-size: 90%;
    background-color: rgb(32, 71, 118) !important;
    color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
}
.archive:hover{
    background-color: rgb(132, 150, 172) !important;
    color: rgba(7, 7, 7, 0.895) !important;
}
.checkbox22{
    margin-left: 22%;
    transform: scale(2.5);
}
/*-----------------------------------------*/
.h2-5{
    color:white;
    font-size: 180%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 3%;
    text-align: right;
}
.input1{
    margin-right: 4%;
    width: 50% !important;
}
.MeetingContainer2{
    border-radius: 9px;
    text-align: right;
    height: 300px; 
    overflow-y: auto;
}
.crdsize{
    height: 130px;
}
.blockquote1{
    position: relative;
    padding-bottom: 1.5%;
}
.checkbox22{
    position: absolute;
    top: 70%;
    left: -15%;
    transform: scale(2);
}
.selectDoneBtn{
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 5% !important;
    width: fit-content;
    background-color: rgb(18, 29, 43) !important;
    color: rgba(255, 255, 255, 0.895) !important;
}
.selectDoneBtn:hover{
    background-color: rgb(48, 110, 190) !important;
    color: rgba(255, 255, 255, 0.895) !important;
}
/*-------------------------------------------------*/
.lastsection{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 1%;
}