.createSub{
    background-color: rgb(195, 200, 209);
    margin: 5px;
    padding-left: 31px;
    padding-bottom: 15px;
    border-radius: 10px;
    position: relative !important;
    color: white !important;
}
.selectAttBtn{
    float: left;
    margin-left: 7.5%;
    background-color: rgb(18, 29, 43) !important;
    color: rgba(255, 255, 255, 0.895) !important;
}
.selectAttBtn:hover{
    background-color: rgb(34, 96, 177) !important;
    color: rgba(255, 255, 255, 0.895) !important;
}
